.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.about {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* justify-content: space-between; */
}
.aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}
