.users {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}
.number {
  padding: 0 5px;
  cursor: pointer;
}
.selectedNumber {
  font-weight: bold;
  padding: 0 5px;
  cursor: pointer;
}
