.block {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 1.4rem;
  grid-template-rows: 1fr min-content;
}

.block__message {
  overflow: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.block__input {
  position: relative;
  display: flex;
}
.block__input::before {
  content: "";
  position: absolute;
  top: -0.74rem;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #f5f7fa;
}
.block__textarea {
  width: 100%;
  padding: 0 0.8rem 0 0;
}
.block__textarea textarea {
  width: 100%;
  height: 70px;
  border: 1px solid rgba(31, 142, 250, 0.5);
  border-radius: 8px;
  padding: 10px;
}
.block__textarea textarea:focus {
  outline: none !important;
  border: 2px solid rgba(31, 142, 250, 1);
}
.block__send {
}
