.navbar {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
}
.navbar a {
  display: block;
  margin: 2px 5px;
  padding: 0 0 0 10px;
  line-height: 40px;
  border-radius: 6px;

  color: black;
  text-decoration: none;
}
.navbar a.active {
  position: relative;
  color: white;
  background: #1f8efa;
  box-shadow: 0px 0 10px rgba(49, 127, 203, 0.15);
  transform: scale(1.2);
  right: 12px;
  padding: 0 0 0 20px;
}
