.profileinfo {
  position: relative;
}
.profileinfo__description {
  display: flex;
  gap: 20px;
  margin: 0;
}
.profileinfo__description img {
  width: 300px;
}
.profileinfo__avtarAndButtons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.profileinfo__about {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
