.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 0;
  display: grid;
  grid-template-columns: minmax(100px, 20%) 1fr;
  grid-gap: 15px;
  grid-template-areas:
    "header header"
    "navbar main";
}

.App-block {
  background: white;
  border-radius: 10px;
  width: 100%;
}
.Header {
  grid-area: header;
}
.Navbar {
  grid-area: navbar;
}
.Main {
  grid-area: main;
}
