.App {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0.8rem 1rem;
  display: grid;
  grid-template-columns: minmax(100px, 20%) 1fr;
  gap: 0.8rem;
  grid-template-areas:
    "header header"
    "navbar main"
    "friends main"
    ". main";
}

.App-block {
  background: white;
  border-radius: 10px;
  width: 100%;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.1));
}
.Header {
  grid-area: header;
}
.Navbar {
  grid-area: navbar;
}
.Main {
  grid-area: main;
}
.Friends {
  grid-area: friends;
}
