* {
  box-sizing: border-box;
}
body {
  background: #f5f7fa;
}
.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 0;
  display: grid;
  grid-template-columns: minmax(100px, 20%) 1fr;
  grid-gap: 15px;
  grid-template-areas:
    "header header"
    "navbar profile";
}
.App__block {
  background: white;
  border-radius: 10px;
  width: 100%;
  padding: 1rem;
}
